.Header {
  width: 100%;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
}
.header2 ul {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  gap: 30px;
}
.header2 ul li {
  list-style: none;
  text-decoration: none;
  font-size: 24px;
  line-height: 24px;
}
.header2 ul li a {
  text-decoration: none;
  color: #292830;
  transition: all 0.3s ease;
}
.header2 ul li a:hover {
  color: #ff7235;
}
.header3 {
  display: flex;
  padding-right: 20px;
}
.header3 button {
  width: 150px;
  height: 65px;
  background: none;
  border: 3px solid #ff7235;
  color: #ff7235;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.header3 button:hover {
  background: #ff7235;
  color: #fff;
}
